<div class="my-3">
  <app-calendar-header></app-calendar-header>
</div>

<section class="mx-5 my-3 table_left_view d-flex gap-2 shadow row h-auto w-auto">

  <section class="col table_right_view">
    <div [ngSwitch]="view">
      <div *ngSwitchCase="'month'">
        <app-calendar-month></app-calendar-month>
      </div>
      <div *ngSwitchCase="'week'">
        <app-calendar-week></app-calendar-week>
      </div>
      <div *ngSwitchCase="'day'">
        <app-calendar-day></app-calendar-day>
      </div>
    </div>
  </section>
</section>
