<div class="row d-flex justify-content-center">
  <section
    class="col-3 custom_table_sidebar border-end border-2 border-secondary me-3"
  >
    <div class="justify-content-end d-flex align-items-center">
      <h3>Locations</h3>
    </div>
  </section>

  <section class="row d-flex justify-content-start col-9">
    <div class="row d-flex gap-2 justify-content-start">
      <div
        class="col"
        [ngClass]="
          _syncService.normalizeDate(day.date).getTime() ===
          _syncService.normalizeDate(currentDate).getTime()
            ? 'border border-dark rounded border-1 border-bottom border-0 text-dark fw-bold bg-light1 pointer'
            : 'pointer'
        "
        *ngFor="let day of weekDayList"
        (click)="changeView(day)"
        
      >
        <div class="custom_header">
          {{ day.day }}
        </div>
        <div class="subtitle text-center">
          {{ day.date | shortDatePipe }}
        </div>
      </div>
    </div>
  </section>
</div>

<div
  class="row d-flex justify-content-center"
  style="max-height: 65vh; overflow-y: auto"
>
  <div
    class="row mx-1 rounded my-1 d-flex justify-content-between align-items-center"
    *ngFor="let location of locationList"
  >
    <div
      class="col-3 bg-light1 text-end border-end border-1 border-secondary h-75 d-flex align-items-center justify-content-end"
    >
      {{ location }}
    </div>
    <div class="col-9 text-center">
      <div class="row d-flex">
        <div class="col event-box" *ngFor="let itm of [1, 2, 3, 4, 5, 6, 7]">
          <p-skeleton height="1rem" borderRadius="16px" class="m-1 bg-light1" />
          <p-skeleton height="2rem" borderRadius="16px" class="m-1" />
        </div>
      </div>
    </div>
  </div>
</div>
