

  .custom-badge {
    background-color: #abeaff40; 
    color: #822323ac;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 50%;
    font-size: 12px;
    display: inline-block;
  }

  .cal-event {
    display: none !important;
  }
  .cal-day-number{
    font-size: 1.5rem;
    font-weight: 400;
  }