<div class="mx-5 d-flex justify-content-between align-items-center mb-2">
  <div class="calendar-nav d-flex">
    <button class="btn btn-outline-primary me-1" (click)="decrement()">
      Prev
    </button>
    <button class="btn btn-outline-secondary me-1" (click)="today()">
      Today
    </button>
    <button class="btn btn-outline-primary" (click)="increment()">Next</button>
  </div>

  <div class="" [ngSwitch]="view">
    <div class="" *ngSwitchCase="'month'">
      <h5 class="m-0 text-center flex-grow-1">
        {{ formattedMonthYear }}
      </h5>
    </div>

    <div class="" *ngSwitchCase="'week'">
      <h5 class="m-0 text-center flex-grow-1">
        {{ _syncService.getWeekRange(viewDate) }}
      </h5>
    </div>

    <div class="" *ngSwitchCase="'day'">
      <h5 class="m-0 text-center flex-grow-1">
        {{ _syncService.getFormattedFullDate(viewDate) }}
      </h5>
    </div>
  </div>

  <div class="calendar-nav d-flex">
    <button
      class="btn me-1"
      [ngClass]="view === 'day' ? 'btn-primary' : 'btn-outline-primary'"
      (click)="changeView('day')"
    >
      Day
    </button>
    <button
      class="btn me-1"
      [ngClass]="view === 'week' ? 'btn-primary' : 'btn-outline-primary'"
      (click)="changeView('week')"
    >
      Week
    </button>

    <button
      class="btn me-1"
      [ngClass]="view === 'month' ? 'btn-primary' : 'btn-outline-primary'"
      (click)="changeView('month')"
    >
      Month
    </button>
  
    <button
      class="btn"
      [ngClass]="view === 'year' ? 'btn-primary' : 'btn-outline-primary'"
      (click)="togglePanel()"
    >
      Year
    </button>
  </div>
</div>

<p-dialog
  [(visible)]="showPanel"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '300px' }"
  header="Select Month & Year"
>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <label for="yearSelect">Year:</label>
    <select id="yearSelect" class="form-select ms-2" [(ngModel)]="selectedYear">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  </div>
  <div class="month-grid">
    <button
      *ngFor="let month of months; let i = index"
      class="btn btn-sm text-dark btn-outline-primary m-1"
      [class.btn-primary]="selectedMonth === i"
      (click)="selectMonth(i)"
    >
      {{ month }}
    </button>
  </div>
</p-dialog>
